.jumbotronImg {
  background-image: url("../images/adBanner5.jpg");
  background-position: center;
  height: 12em;
}
.formBox {
  box-shadow: 38px 21px 24px 2px rgba(0, 0, 0, 0.75);
  width: 25em;
}
.card-background {
  box-shadow: 31px 17px 22px -2px rgba(0, 0, 0, 0.75);
}
.menu-text-color {
  transition: all 0.2s ease-in-out;
}
.menu-text-color:hover {
  transform: scale(1.5);
}
.logo-zoom {
  transition: all 0.2s ease-in-out;
}
.logo-zoom:hover {
  transform: scale(2.5);
}
.img-hover-zoom {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
}
.img-hover-zoom:hover {
  transform: scale(1.2);
}
.card-details {
  font-family: sans-serif;
  margin-left: 5em;
  text-align: center;
}
.related-products-wrap {
  display: inline-flex;
  margin-left: 1em;
  margin-bottom: 5em;
}
.products-card {
  margin-left: 1.5em;
}
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
#formGroupExampleInput::placeholder {
  color: rgba(0, 0, 0, 0.466);
  opacity: 1;
}
#formGroupExampleInput1::placeholder {
  color: rgba(0, 0, 0, 0.466);
  opacity: 1;
}
#formGroupExampleInput2::placeholder {
  color: rgba(0, 0, 0, 0.466);
  opacity: 1;
}
#searchTextbox::placeholder {
  color: rgba(0, 0, 0, 0.466);
  opacity: 1;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: black;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .jumbotronImg {
    background-image: url("../images/mobile_ad_banner1.jpg");
    background-position: center;
  }
  .center-card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-text-color {
    transition: all 0.2s ease-in-out;
  }
  .menu-text-color:hover {
    transform: scale(1.1);
  }
  .detailsPageStyle {
    display: flex;
    flex-direction: column;
  }
  .cartInputStyle {
    margin-top: -4em;
  }
  .cartInputLableStyle {
    margin-bottom: 5em;
  }
}
